@media (max-width: 450px) { 
    #main-doc {
        background-color: #EEEEEE;
    }
 }
 @media (color) { 
    #main-doc {
        background-color: #EEEEEE;
    }   
  }

  @media screen and (max-width: 900px) {
    #main-doc {
        background-color: #EEEEEE;
    }   
  }

#navbar {
    top: 0;
    width: 300px;
    display: inline-block;
    padding-left: 10px;
    position: fixed;
    height: 100%;
    line-height: 20px;
    border-right: solid 2px rgba(0, 22, 22, 0.4);
}
@media only screen and (max-width: 768px) {
    #navbar {
        width: 100%;
    }
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar ul {
    height: 90%;
    position: relative;
    margin-left: -50px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#sections {
    display: inline-block;
    position: absolute;
    margin-top: 0;
    margin-left: 350px;
    padding-left: 10px;

}
@media only screen and (min-width: 768px) {
    #sections {
        width: 100%;
    }
}

.nav-link {
    display: list-item;
    /* margin-left: -50px; */
    padding: 10px;
    text-decoration: none;
    color: black;
    line-height: 35px;
    /* border-top: solid 1px black; */
    width: 100%;
    
}
.code-section {
    background: #bebfc7;
    display: block;
    padding: 20px;
    margin-left: 20px;
    margin-right: 80px;
}

